<h4>Post <%= @row['id'] %>:</h4>
<p>
	<em><%= @row['content'] %></em> 
	<br><br>
	Added at <%= @row['created_date'] %>
</p>

<hr>

<%if @comments.size > 0 %>	
	<blockquote>
		<p>Comments:</p>
		<% @comments.each do |comment| %>
			<footer>
			<strong><%= comment['comment'] %></strong>
			<small>added <%= comment['created_date'] %></small>
			<hr>
			</footer>
		<% end %>
	</blockquote>
	<hr>
<%end%>
  
<h4>Add comments:</h4>
<p>
	<form action="/details/<%= @row['id'] %>" method="POST">
		<textarea name="comment"class="form-control" rows="6" placeholder="type comment text here"></textarea>
		<br>
		<button type="submit" class="btn btn-primary">Add comment</button>		
	</form>
</p>
